<div id="c_content" class="container">
  <div id="holder" class="none" width="0" height="0"></div>
  <div class="helper">
      <div id="{{id}}" data-href="{{href}}" data-get="{{get}}" class="fetch" data-selector="{{selector}}" class="center content">
      </div>
  </div>
</div>