<div id="c_input" class="container">
  <div class="helper">
    <form id="f_input">
      <textarea id="i_thoughts" rows="1" cols="10" class="in_thoughts"></textarea>
      <input id="i_tags" type="text" class="in_tags f_l">      
      <input id="i_submit" type="submit" onsubmit="save()" class="in_submit f_r">            
    </form>
  </div>
</div>