<div id="c_skrim" class="container full"></div>

<div id="c_output" class="container">
  <div class="helper">
    <div id="t_ouput" class="t_ital center">
      <div id="c_outputInner" class="container">
        <div class="helper">
          {{text}}
        </div>
      </div>
    </div
  </div>
</div>