<!DOCTYPE html>
<html>
  <head>
    <title>Breathe</title>

    <link rel="stylesheet" href="/stylesheets/style.css{{cachebust}}" />

    {{#reload}}
      <script src="/socket.io/socket.io.js"></script>
      <script src="/javascripts/reload-client.js"></script>
    {{/reload}}

    {{#optimize}}
      <script src="/javascripts/main-built.js"></script>
    {{/optimize}}
    
    {{^optimize}}
      <script src="/javascripts/vendor/requirejs/require.js" data-main="/javascripts/main.js"></script>
    {{/optimize}}

    {{^optimize}}
      <script src="/javascripts/vendor/jquery/jquery.js"></script>
    {{/optimize}}
    
    {{^optimize}}
      <!--<script src="/javascripts/local/fetch.js"></script>-->
    {{/optimize}}
    
    {{^optimize}}
      <script src="/javascripts/local/roark.js"></script>
    {{/optimize}}

  </head>
  <body>

  </body>
</html>